<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
 
    <div class="topnav">
            <a class="active" id="activ" href="/signup">SignUp</a>
            <a class="active" id="activ" href="/login">SignIn</a>
            
          </div>

    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col col-12">
                <div class="jumbotron">
                    <h1 class="display-4">Hello, User!</h1>
                    <p class="lead">This is a demo projecton on Express js. More power to you!!</p>
                    <hr class="my-4">
                    <p>This demo project contain login and registration page.</p>
                    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                </div>
            </div>
        </div>
    </div>
   
    
           

</body>
</html>