<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admission</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <!-- <a class="active" id="activ" href="/view">SignRecords</a> -->
        <a class="active" id="activ" href="/login">SignIn</a>
        <a class="active" id="activ" href="/login">SignIn</a>
    </div>
            
        
    <div class="card-columns p-5">
        <% for(var i=0;i<data.length;i++){ %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= data[i].uname %></h5>
                        <p class="card-text"><strong>Email: </strong><%= data[i].uemail %><br><strong>Username: </strong><%= data[i].uname %><br><strong>Password: </strong><%= data[i].upass %></p>
                    </div>
                </div>
        <% } %>
    </div>
</body>
</html>